.button_container {
  height: 64px;
  width: 100%;
  max-height: 64px;
  max-width: 434px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button_disable_container {
  height: 64px;
  width: 100%;
  max-height: 64px;
  max-width: 434px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}
.icon {
  /* padding: 12px 0 12px 16px; */
  padding-right: 16px;
}
